name: Continuous Integration (CI)

on: pull_request

permissions:
  contents: read

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: [rust, shell, python]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check formatting.
        run: make check-${{ matrix.language }}-formatting
  linting:
    name: Linting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: [rust]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check linting.
        run: make check-${{ matrix.language }}-linting
  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Compile.
        run: make compile
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Unit test.
        run: make unit-test
  end-to-end-test:
    name: End to End Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: End to End test.
        run: make end-to-end-test
