name: Git History

on: pull_request

permissions:
  contents: read

jobs:
  clean:
    name: Clean
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/developerc286/clean_git_history:1.2.0@sha256:bdbd6ca09529f44010583fd89528a96961f7acb12bdd7baa975b0811032a647e
    steps:
      - name: Checkout code.
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Check clean Git history.
        run: clean_git_history "origin/${{ github.base_ref }}"
