name: GitHub Actions Workflows

on: pull_request

permissions:
  contents: read

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Check GitHub Actions workflows linting.
        run: make check-github-actions-workflows-linting
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Check formatting.
        run: make check-yaml-formatting
