name: GitHub Actions Workflows

on: pull_request

permissions:
  contents: read

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check GitHub Actions workflows linting.
        run: make check-github-actions-workflows-linting
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check formatting.
        run: make check-yaml-formatting
