name: GitHub Actions Workflows

on: pull_request

permissions:
  contents: read

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Check GitHub Actions workflows linting.
        run: make check-github-actions-workflows-linting
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Check formatting.
        run: make check-yaml-formatting
